<p>
  {{ homeTitle }}
</p>

<!-- property binding -->
<!--input [value]="myString" />
<input [required]="myBoolean" />

<input value={{myString}} />
<input required={{myBoolean}} />

<br><br>

<!-- event binding-->
<!--button (click)="alertMe1()"> Click me </button>
<button (click)="alertMe2('I like cherry')"> My fruit </button>

<br><br>

<!-- 2-way data binding-->
<label> Name: </label>
<!--input [(ngModel)]="fruit.name" /-->
<label> Color: </label>
<!--input [(ngModel)]="fruit.color" /-->
<label> Price: </label>
<!--input [(ngModel)]="fruit.price" /-->
<p>
  {{ fruit.name }}
  {{ fruit.color }}
  {{ fruit.price }}
</p>

<button (click)="fireSaleEvent($event)">Sale Event</button>
